<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Incoming Product</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h1 class="text-center">Add Incoming Product</h1>
    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Incoming Product</button>
    </form> {% endcomment %}
</body>
</html>
